// Tipografia
$fuente_principal: 'Calibri', sans-serif;

// Colores
$blanco: #ffffff;
$gris: #b0b0b0;
$rojo: #bf1616;
$negro: #1d1d1d;

//Tamanos de Media Queries
$small: 240px;
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;